body {
  background-image: url("../assets/icon/background-laranja.svg");
  background-repeat: no-repeat;
  background-position: left 250px top 220px;
}

.introducao {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 90px;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
  gap: 150px;
  padding: 0 30px;
}
.main-conteudo {
  display: flex;
  flex-direction: column;
}

.main-foto img {
  filter: grayscale(100%);
}
.main-conteudo div.titulos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-conteudo div.titulos div.sub-titulos {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.main-conteudo span.sub-sub-title {
  font-weight: 500;
  font-size: 20pt;
}
.main-conteudo span.sub-title-int {
  font-weight: bold;
  font-size: 28pt;
}

.main-conteudo h1.main-titulo-principal {
  font-weight: 800;
  font-size: 45pt;
  color: var(--cor-laranja);
}

.icons-redes {
  display: flex;
  gap: 15px;
}

.icons-redes li img {
  width: 20px;
}

.icons-redes li {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  border: 0.7px solid var(--cor-para-bordas);
  justify-content: center;
  border-radius: 50%;
  margin-top: 35px;
}

.main-buttons {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.main-buttons div.contrate-me {
  display: flex;
  align-items: center;
}

.main-buttons div.contrate-me a,
div.projetos a {
  width: 200px;
  height: 60px;
}

.main-buttons div.contrate-me a {
  display: block;
  color: var(--cor-branco);
  padding: 12px 40px;
  border: 2px solid transparent;
  background-color: var(--cor-laranja);
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.main-buttons div.projetos a {
  display: block;
  color: var(--cor-branco);
  padding: 12px 40px;
  border: 2px solid var(--cor-para-bordas);
  background-color: transparent;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-options {
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 8px;
  margin-top: 60px;
}

.main-options ul {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  gap: 60px;
}

.main-options ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  white-space: nowrap;
}

.main-options li:not(:last-child)::after {
  content: " ";
  width: 2px;
  height: 100%;
  background-color: var(--cor-para-bordas);
  position: absolute;
  right: -30%;
}

.main-options ul li span {
  color: var(--cor-laranja);
  font-size: 18pt;
  font-weight: 800;
}

.main-options ul li p {
  font-size: 15pt;
  font-weight: 500;
  color: var(--cor-branco);
}

.main-buttons ul li div.pipe {
  font-size: 500pt;
}

@media (max-width: 1497px) {
  body {
    background-position: left 50px top 220px;
  }
}
@media (max-width: 1237px) {
  body {
    background-position: left -100px top 220px;
  }

  .main-foto {
    max-width: 400px;
  }

  .main-conteudo div.titulos {
    gap: 10px;
  }

  .main-conteudo span.sub-sub-title {
    font-size: 15pt;
  }
  .main-conteudo span.sub-title-int {
    font-size: 18pt;
  }

  .main-conteudo h1.main-titulo-principal {
    font-weight: 600;
    font-size: 35pt;
  }

  .main-buttons div.contrate-me a,
  div.projetos a {
    width: 180px;
    height: 55px;
  }
}
@media (max-width: 1081px) {
  .main-conteudo {
    max-width: 400px;
  }

  .main-options ul li p {
    font-size: 12pt;
    font-weight: 500;
    color: var(--cor-branco);
  }

  .main-options ul {
    padding: 15px 15px;
    gap: 45px;
  }
}

@media (max-width: 923px) {
  .introducao {
    flex-direction: column-reverse;
    margin-top: 30px;
    gap: 50px;
  }

  body {
    background-position: left 50% top 800px;
  }
}

@media (max-width: 650px) {
  .main-buttons {
    gap: 10px;
    justify-content: center;
  }
}

@media (max-width: 409px) {
  .main-conteudo {
    max-width: 350px;
  }

  .main-foto {
    max-width: 300px;
  }

  .main-buttons div a {
    .main-options ul li p {
      font-size: 5pt;
      font-weight: 300;
    }

    .main-options ul {
      padding: 10px 12px;
      gap: 30px;
    }
  }

  .main-options ul li span {
    font-size: 13pt;
  }
  .main-options ul li p {
    font-size: 12pt;
    white-space: wrap;
    height: 40px;
    margin-bottom: 3px;
  }

  .main-options {
    margin-bottom: 40px;
  }
}
