header {
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px 20px;
}

.navegacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-lista {
  display: flex;
  gap: 20px;
}
.nav-lista li:hover {
  text-decoration: underline;
}

.nav-icons {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-icons span {
  font-size: 1.5rem;
}

.nav-icons img {
  width: 20px;
  height: 20px;
}


@media(max-width:813px ){
  .navegacao {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
@media(max-width:603px ){
  .nav-container {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .nav-icons span {
    display: none;
  }
}
@media(max-width:413px ){
  .nav-lista{
    flex-wrap: wrap;
    justify-content: center;
  }
}
