body {
  font-family: "Inter", sans-serif;
  position: relative;
}

.title {
  font-size: 35pt;
  font-weight: bold;
  line-height: 2.5rem;
}

@media (max-width: 812px) {
  .title {
    font-size: 25pt;
    font-weight: bold;
  }
}
