.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px 30px 20px;
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-container hr {
  background-color: #333333;
}

.header-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-content {
  display: flex;
  gap: 8px;
}

.info-content img {
  align-self: flex-start;
}

.header-nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.nav-list {
  display: flex;
  gap: 46px;
}
.nav-list a {
  font-size: 14pt;
  font-weight: 500;
}

.ligacao {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.ligacao a {
  background-color: #4762ff;
  color: #ffffff;
  padding: 15px 25px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 14pt;
  font-weight: 600;
}

.btn-open-menu {
  display: none;
}

.closed-menu-mobile {
  display: none;
}

@media (max-width: 1096px) {
  .header-nav-content {
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
}

@media (max-width: 730px) {
  .header-nav-content {
    flex-direction: row;
  }
  .header-container hr {
    display: none;
  }
  .info-content {
    display: none;
  }
  .header-container {
    padding: 60px 20px 30px 20px;
  }
  .header-nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-open-menu {
    display: block;
    width: 40px;
    height: 40px;
  }

  .menu-mobile {
    position: absolute;
    background-color: #ffffff;
    width: 230px;
    height: 400px;
    z-index: 2000;
    top: 0px;
    left: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    /* display: none; */
    justify-content: start;
    gap: 30px;
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 8px;
  }

  .closed-menu-mobile {
    align-self: flex-start;
    display: block;
  }

  .menu-mobile.ativo {
    display: flex;
    animation: menuSuave 0.3s forwards;
  }

  .ligacao a {
    white-space: nowrap;
    font-size: 10pt;
    padding: 15px 20px;
  }

  @keyframes menuSuave {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }

    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

@media (max-width: 475px) {
  .btn-open-menu {
    width: 25px;
    height: 25px;
  }
  .logo {
    width: 120px;
  }

  .ligacao a {
    max-width: 100%;
    font-size: 6pt;
    padding: 10px 13px;
  }
}
