.content-main {
  background-color: #fbfbfb;
  padding-top: 120px;
}

.section-main {
  background-color: #ffffff;
}

.background-caminhao {
  max-width: 1600px;
  margin: 0 auto;
  padding: 100px 20px 30px 20px;
  background-image: url("/assets/img/caminhao.png");
  background-repeat: no-repeat;
  background-position-x: right;
  min-height: 500px;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 20px 20px; */
  display: flex;
  gap: 0;
}

.content-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 200;
  flex: 0 0 auto;
}
.content-div img {
  display: none;
}

.content-div h1 {
  display: inline;
  line-height: 76px;
  font-weight: bold;
  font-size: 60pt;
  /* white-space: nowrap; */
  width: 20ch;
  flex: 0 0 auto;
}

.content-div p {
  width: 70ch;
  display: block;
}

.content-div a {
  background-color: #4762ff;
  color: #ffffff;
  align-self: flex-start;
  padding: 12px 34px;
  border-radius: 8px;
}

@media (max-width: 1096px) {
  .main-content {
    justify-content: center;
    align-items: center;
  }
  .content-main {
    padding-top: 30px;
  }
  .background-caminhao {
    background-image: none;
  }
  .content-div {
    width: fit-content;
    justify-content: center;
  }
  .content-div img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    width: 800px;
  }

  .content-div h1 {
    font-size: 40pt;
    line-height: 50px;
  }
}


@media (max-width: 730px){
  
}